/* ----------------------------GLOBAL STYLES---------------------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 8px;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------HEADER SECTION---------------------------- */
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-black {
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list {
  gap: 40px;
  display: flex;
}
.navigation-list-item {
  color: #404bbf;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  gap: 40px;
  display: flex;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.logo-blue:hover {
  color: #404bbf;
}
.logo-black:hover {
  color: #404bbf;
}
.navigation-list-item:hover,
.navigation-list-item:focus {
  color: #404bbf;
}
.address-list-item:hover,
.address-list-item:focus {
  color: #404bbf;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------BUTTON SECTION---------------------------- */
.solutions {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg-people-office-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0 188px;
  margin: 0 auto;
  text-align: center;
}
.solutions-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.solutions-button {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  height: 56px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-button:hover,
.solutions-button:focus {
  background: #404bbf;
}
/* ----------------------------------------------------------------------------------------------- */
/* FEATURES SECTION */
.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  max-width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}
.features-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 3 * 24px) / 4);
}
/* ----------------------------------------------------------------------------------------------- */
/* TEAM SECTION */
.team-section {
  background: #f4f4fd;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-card {
  background: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: center;
  margin-bottom: 8px;
}
.team-icon-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-list-item {
  width: 40px;
  height: 40px;
}
.team-icon-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}
.team-icon-list-item-link:hover,
.team-icon-list-item-link:focus {
  background-color: #404bbf;
}
/* ----------------------------------------------------------------------------------------------- */
/* PORTFOLIO SECTION */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-box {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-boarder {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 32px 16px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.portfolio-list-item:hover .portfolio-overlay {
  transform: translatey(0);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------FOOTER SECTION---------------------------- */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  align-items: left;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-text-container {
  margin-right: 120px;
}
.logo-footer-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-white {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  max-width: 264px;
}
/* .footer-media-icon-container {
} */
.footer-sub-text {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-icon-list {
  display: flex;
  gap: 16px;
}
.footer-social-icon-list-item {
  position: relative;
  width: 40px;
  height: 40px;
}
.footer-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #f4f4fd;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
  background-color: #31d0aa;
}
/* ----------------------------------------------------------------------------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.form-exit-decor {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-decor-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.npe-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-decor-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment-container {
  margin-bottom: 16px;
}
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-privacy-link {
  color: #4d5ae5;
}
.btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .input-checkbox-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* ========================================================= */
.footer-form-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  color: color #ffffff;
}
.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-subscribe-icon {
  margin-left: 16px;
}
/* =========================================================== */
.form-exit-decor:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.form-exit-decor:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.input:focus {
  border-color: #4d5ae5;
}
.input:focus + .input-decor-icon {
  fill: #4d5ae5;
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.costom-checkbox-input:checked + .checkbox-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-overlay-is-open {
  opacity: 1;
  pointer-events: auto;
}
